/* src/components/home/HomeHeader.css */
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-title {
  font-size: 36px;
  font-weight: 700;
}
.home-location {
  font-size: 16px;
  color: #00e0ff;
}
